*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
    background-color: rgb(1, 163, 144);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}

.logo{
    padding-left: 10px;
    width: 100px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
  
}
.nav-items > ul >li{
  padding: 10px;
  margin:10px ;
  
}
.res-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.res-card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
.res-card:hover{
    border:1px solid black
}
.res-card > img{
    width: 100%;
    border-radius: 10px;
}

.res-card > span{
    display: flex;
    justify-content: space-evenly;
}

.res-card > span > h4{
    text-align: center;
}

.res-card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.res-card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}